/* css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generici */

img {
    max-width: 100%;
    height: auto;
}

#faq h2 {
    margin-top: 20px;
    font-size: 32px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

#collection h2 {
    font-size: 32px;
}

#collection p {
    margin: 20px 0;
    font-size: 16px;
}

section {
    text-align: center;
}

.hamburger {
    border: none;
    background: none;
    padding: 0;
    font-size: 24px;
}

/* utili */

.w-100 {
    width: 100%;
}

.price {
    color: rgb(64, 217, 102);
    margin-top: 10px
}

.none {
    display: none;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.answer {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
}

.pointer {
    cursor: pointer;
}




/* intestazione */

header {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}

.duck {
    height: 60px;
}

.sidemenu {
    height: 100%;
    width: 80%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidemenu a:hover {
    color: blue;
}

.closebtn {
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
}


/* body */

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 90px;
}

.debug {
    text-align: center;
    padding: 50px;
    background-image: url("../img/sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.debug h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    line-height: 2;
    font-size: 24px;
    margin-bottom: 20px;
}

.debug button {
    background: none;
    padding: 10px 30px;
    font-size: 18px;
}

.debug button:hover {
    background-color: black;
    color: white;
}

/* sezione dettagli */
section div {
    margin: 20px 0;
}

#faq,
#faq p {
    text-align: left;
}

/* promesse */

#promises i {
    color: blue;
    font-size: 24px;
}

/* form */

form {
    display: flex;
    margin-bottom: 20px;
}

input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    background-color: transparent;
}

form button {
    border: none;
    background: none;
    padding: 0;
}

.fa-paper-plane {
    font-size: 24px;
    color: rgb(64, 217, 102);
}

/* lista dei social */

.socials {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(64, 217, 102);
}

.fa-brands {
    font-size: 24px;
}

.socials i {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 50%;
}



/* pie' di pagina */

footer p {
    font-size: 16px;
}

div.copyright {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
}

#subscription {
    background-color: rgb(236, 238, 238);
}